<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.local.KeyRemapping</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/hidutil</string>
        <string>property</string>
        <string>--set</string>
        <string>{"UserKeyMapping":[
            {
              "HIDKeyboardModifierMappingSrc": 0xC000000B4,
              "HIDKeyboardModifierMappingDst": 0x700000040
            },
            {
              "HIDKeyboardModifierMappingSrc": 0xC000000CD,
              "HIDKeyboardModifierMappingDst": 0x700000041
            },
            {
              "HIDKeyboardModifierMappingSrc": 0xC000000B3,
              "HIDKeyboardModifierMappingDst": 0x700000042
            },
            {
              "HIDKeyboardModifierMappingSrc": 0xC000000E2,
              "HIDKeyboardModifierMappingDst": 0x700000043
            },
            {
              "HIDKeyboardModifierMappingSrc": 0xC000000EA,
              "HIDKeyboardModifierMappingDst": 0x700000044
            },
            {
              "HIDKeyboardModifierMappingSrc": 0xC000000E9,
              "HIDKeyboardModifierMappingDst": 0x700000045
            }
        ]}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>